// Footer
.footer {
    background: $whiteShade;
    padding: 60px 0 0 0;
    margin: 0;
}

// Copyright
.copyright-bar {
    padding: 5px 0;
    margin: 0;
    background: $primaryColor;
    color: #fff;
    text-align: center;
    &__paragraph {
        margin: 0;
        padding: 0;
    }
}
