// Footer
.footer {
    background: $whiteShade;
    padding: 60px 0 0 0;
    margin: 0;
    &--page {
        padding: 0;
    }
}

.wrapper-footer {
    display: flex;
    flex-wrap: wrap;
}

.page-summary {
    width: 50%;
    display: flex;
    padding-bottom: 60px;
    &__icon {
        background: $accentColor;
        border-radius: 50%;
        font-size: 2.5rem;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        text-align: center;
        padding-top: 10px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    &__heading {
        margin-top: 10px;
    }
    &__paragraph {
        margin: 0;
    }
}

// Copyright
.copyright-bar {
    padding: 5px 0;
    margin: 0;
    background: $primaryColor;
    color: #fff;
    text-align: center;
    &__paragraph {
        margin: 0;
        padding: 0;
    }
}
