// Gallery Styles
.gallery {
    background: #fff;
    padding: 100px 0;
    margin: 0;
    &__gallery-row {
        display: flex;
        &__item {
            padding-right: 40px;
        }
        & div:last-child {
            padding-right: 0;
        }
    }
}
