// Responsive Styles

// Header
@media (max-width: 1100px) {
    // Shrink header title
    .main-heading {
        @include primaryFont(115);
        text-transform: uppercase;
        line-height: 9.2rem;
        color: $whiteShade;
        &__curved-text {
            bottom: -10px;
        }
    }

    // Reposition blog posts

    .featured-blog {
        margin: 120px 0;
        &__summary {
            margin-top: 0;
        }
    }

    .collage {
        &--featured-blogs-left {
            top: 0;
            margin-top: 0;
        }
        &--featured-blogs-right {
            bottom: 0;
        }
    }

    .summary {
        &__heading {
            &--featured-blogs-left, &--featured-blogs-right {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 990px) {
    // Shrink header title
    .main-heading {
        @include primaryFont(100);
        text-transform: uppercase;
        line-height: 9.2rem;
        color: $whiteShade;
        &__curved-text {
            bottom: -5px;
        }
    }
}

@media (max-width: 850px) {
    // Shrink header title
    .main-heading {
        @include primaryFont(80);
        text-transform: uppercase;
        line-height: 9.2rem;
        color: $whiteShade;
        &__curved-text {
            bottom: 5px;
        }
    }

    // Reposition blog posts
    .featured-blog {
        flex-direction: column;
        &__collage, .blog-container {
            width: 100%;
        }
    }

    .featured-blogs div:nth-child(even) {
        flex-direction: column-reverse;
    }

    .blog-container {
        margin-top: 60px;
    }

    .summary--featured-blogs-right {
        text-align: left;
    }

}

@media (max-width: 720px) {
    // Hide header image and nav
    body {
        overflow-x: hidden;
    }

    .collage--header {
        display: none;
    }

    .main-heading {
        margin-left: 70px;
    }

    .nav {
        position: absolute;
        height: 100vh;
        background: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), url(/assets/home-image-1.jpg);
        background-size: cover;
        background-position: center;
        z-index: 1000;
        top: 0;
        right: -50%;
        width: 50%;
        transition: right 1s ease;
        &__list {
            margin: 0;
            padding: 20px 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li:nth-child(2)::after {
                content: "";
                padding: 0;
            }
        }
    }

    .hidden {
            display: block;
    }

    input#toggle:checked + .nav {
	        right: 0;
    }

    .about {
        padding: 50px 0;
    }
}

@media (max-width: 500px) {
    // Make header nav full width
    .nav {
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 450px) {
    // Shrink header title
    .main-heading {
        @include primaryFont(60);
        text-transform: uppercase;
        line-height: 6rem;
        color: $whiteShade;
        margin-left: 55px;
        padding-left: -10px;
        &__curved-text {
            bottom: 0;
            left: -15px;
        }
    }
}

@media (max-width: 330px) {
    // Shrink header title
    .main-heading {
        @include primaryFont(50);
        text-transform: uppercase;
        line-height: 6rem;
        color: $whiteShade;
        padding-left: -10px;
        &__curved-text {
            width: 20%;
            bottom: 10px;
        }
    }

    .hidden {
        font-size: 3rem;
    }
}
