article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #f6f6f6;
  color: #1f1f1f;
  font-size: 20px;
  font-size: 2rem;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  line-height: 3.2rem; }

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto; }

.main-heading {
  font-size: 130px;
  font-size: 13rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase;
  line-height: 9.2rem;
  color: #f6f6f6; }
  .main-heading--page {
    font-size: 80px;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 6rem;
    color: #f6f6f6;
    margin: 0;
    padding: 0; }

.secondary-heading {
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase;
  line-height: 4rem; }

.aside-section__heading {
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase;
  line-height: 3rem; }

.summary__heading {
  font-size: 42px;
  font-size: 4.2rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase; }
  .summary__heading--featured-blogs-left {
    font-size: 32px;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f; }
  .summary__heading--featured-blogs-right {
    font-size: 32px;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f; }
  .summary__heading--journey {
    text-align: left; }

.page-summary__heading {
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-align: left; }

.summary__link {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  line-height: 3.2rem;
  text-decoration: none;
  background: #e4a436;
  padding: 15px;
  margin: 15px 0;
  display: inline-block; }

.summary__link:hover {
  -webkit-box-shadow: 1px 1px #1f1f1f;
  box-shadow: 1px 1px #1f1f1f; }

.nav__item__link {
  font-size: 20px;
  font-size: 2rem;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  line-height: 2.9rem;
  font-weight: 700;
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px; }
  .nav__item__link:hover {
    color: #e4a436; }
  .nav__item__link--active {
    color: #e4a436; }

.header {
  background: #345231; }

.hidden {
  display: none;
  font-size: 4rem;
  padding: 15px 0;
  color: #f6f6f6;
  position: relative;
  z-index: 5000; }

.toggle-icon {
  cursor: pointer; }

input#toggle {
  display: none; }

.nav__list {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__list li:nth-child(2)::after {
    content: "Willow";
    font-size: 42px;
    font-size: 4.2rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    line-height: 2.9rem;
    text-transform: uppercase;
    text-align: center;
    color: #f6f6f6;
    padding: 0 15px; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-container--page {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 45vh;
    background: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .header-container--page--contact {
      background: url(../assets/contact-image-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }

.main-heading {
  padding-left: 10px;
  margin-right: 15px;
  position: relative; }
  .main-heading__curved-text {
    width: 20%;
    position: absolute;
    left: -30px;
    bottom: -20px; }
  .main-heading--page {
    margin-left: 0; }

.collage {
  background: white;
  margin-left: 20px;
  position: relative;
  bottom: -70px; }
  .collage__image {
    width: 100%;
    position: relative;
    top: -20px;
    left: -20px; }

.about {
  background: #f6f6f6;
  padding: 75px 0 130px 0;
  margin: 0; }

.summary {
  text-align: center; }

.featured-blogs {
  background: #fff;
  padding: 50px 0;
  margin: 0; }

.featured-blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .featured-blog__collage, .featured-blog .blog-container {
    width: 50%; }
  .featured-blog__summary {
    max-width: 640px;
    padding: 0 80px;
    margin-top: 45px; }

.blog-container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.collage--featured-blogs-left {
  background: #709b6b;
  text-align: right;
  margin-left: 0;
  bottom: 0;
  top: -90px;
  height: 0%; }

.collage__image--featured-blogs-left {
  max-width: 640px;
  position: relative;
  top: -20px;
  right: 20px; }

.summary--featured-blogs-left {
  text-align: left; }

.collage--featured-blogs-right {
  background: #345231;
  text-align: left;
  margin-left: 0;
  bottom: -90px;
  height: 0%; }

.collage__image--featured-blogs-right {
  max-width: 640px;
  position: relative;
  top: -20px;
  left: -20px; }

.summary--featured-blogs-right {
  text-align: right; }

.journey {
  background: #f6f6f6;
  padding: 130px 0 75px 0;
  margin: 0; }

.wrapper-journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.collage--journey {
  background: #709b6b;
  width: 25%;
  height: 0%;
  bottom: 0; }

.summary--journey {
  width: 75%;
  text-align: left;
  padding-left: 80px; }

.summary__heading--journey {
  margin-top: 0; }

.featured-image {
  background: url(../assets/home-image-5.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 60vh; }

.gallery {
  background: #fff;
  padding: 100px 0;
  margin: 0; }
  .gallery__gallery-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .gallery__gallery-row__item {
      padding-right: 40px; }
    .gallery__gallery-row div:last-child {
      padding-right: 0; }

.footer {
  background: #f6f6f6;
  padding: 60px 0 0 0;
  margin: 0; }
  .footer--page {
    padding: 0; }

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.page-summary {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px; }
  .page-summary__icon {
    background: #e4a436;
    border-radius: 50%;
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    padding-top: 10px; }
  .page-summary__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 30px; }
  .page-summary__heading {
    margin-top: 10px; }
  .page-summary__paragraph {
    margin: 0; }

.copyright-bar {
  padding: 5px 0;
  margin: 0;
  background: #1f1f1f;
  color: #fff;
  text-align: center; }
  .copyright-bar__paragraph {
    margin: 0;
    padding: 0; }

.wrapper--page {
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.aside {
  width: 35%;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.main-page {
  width: 65%;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.blog-post {
  background: #fff;
  padding: 40px;
  margin-bottom: 40px;
  border-bottom: 5px solid #709b6b; }
  .blog-post__title {
    margin: 0; }

.comments {
  border-bottom: 5px solid #709b6b; }
  .comments__comment {
    background: #fff;
    padding: 40px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .comments div:last-child {
    margin-bottom: 0; }
  .comments__avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .comments__text__byline {
    margin-top: 0; }
  .comments__text {
    padding-left: 20px; }

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px; }
  .comment-form__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    border: 0; }
  .comment-form__name, .comment-form__email {
    min-width: 0;
    width: 50%;
    padding: 10px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .comment-form__name {
    margin-right: 15px; }
  .comment-form__comment {
    height: 250px;
    margin-bottom: 15px;
    padding: 10px;
    border: 0;
    resize: none; }
  .comment-form__post-comment {
    background: #e4a436;
    border: 0;
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    line-height: 2.5rem;
    padding: 10px; }
    .comment-form__post-comment:hover {
      -webkit-box-shadow: 1px 1px #1f1f1f;
      box-shadow: 1px 1px #1f1f1f; }
  .comment-form--contact {
    margin-top: 0; }

.aside-section {
  background: #fff;
  padding: 40px;
  margin-bottom: 40px; }
  .aside-section__image {
    width: 100%; }
  .aside-section__link {
    color: #709b6b;
    text-decoration: none;
    font-weight: 700; }
    .aside-section__link:hover {
      color: #e4a436; }
    .aside-section__link--social {
      color: #1f1f1f;
      display: inline-block;
      margin-bottom: 10px; }
      .aside-section__link--social:hover {
        color: #e4a436; }
  .aside-section__list {
    padding-left: 15px; }
  .aside-section__list-item {
    font-size: 1rem; }
  .aside-section__list-link {
    font-size: 2rem;
    text-decoration: none;
    color: #1f1f1f; }
    .aside-section__list-link:hover {
      color: #e4a436; }

.social__icon {
  font-size: 3rem;
  padding-right: 25px;
  margin-bottom: 20px;
  color: #345231; }
  .social__icon:hover {
    color: #e4a436; }

.contact-paragraph {
  margin: 0;
  padding: 0;
  line-height: 2.8rem; }

@media (max-width: 1100px) {
  .main-heading {
    font-size: 115px;
    font-size: 11.5rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 9.2rem;
    color: #f6f6f6; }
    .main-heading__curved-text {
      bottom: -10px; }
    .main-heading--page {
      font-size: 80px;
      font-size: 8rem;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      color: #1f1f1f;
      text-transform: uppercase;
      line-height: 6.2rem;
      color: #f6f6f6;
      margin: 0;
      padding: 0; }
  .featured-blog {
    margin: 120px 0; }
    .featured-blog__summary {
      margin-top: 0; }
  .collage--featured-blogs-left {
    top: 0;
    margin-top: 0; }
  .collage--featured-blogs-right {
    bottom: 0; }
  .summary__heading--featured-blogs-left, .summary__heading--featured-blogs-right {
    margin-top: 0; }
  .collage--journey {
    width: 50%; }
  .summary--journey {
    width: 50%; } }

@media (max-width: 1060px) {
  .social__icon {
    font-size: 2rem;
    padding-right: 15px;
    margin-bottom: 15px; } }

@media (max-width: 1100px) {
  .main-heading--page {
    line-height: 5.9rem; } }

@media (max-width: 990px) {
  .main-heading {
    font-size: 100px;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 9.2rem;
    color: #f6f6f6; }
    .main-heading__curved-text {
      bottom: -5px; }
    .main-heading--page {
      font-size: 80px;
      font-size: 8rem;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      color: #1f1f1f;
      text-transform: uppercase;
      line-height: 5.7rem;
      color: #f6f6f6;
      margin: 0;
      padding: 0; }
  .wrapper--page {
    width: 90%; } }

@media (max-width: 920px) {
  .wrapper--page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px auto; }
  .aside, .main-page {
    width: 100%; }
  .main-page {
    margin-bottom: 40px; }
  .aside {
    margin-right: 0; }
  .aside-contact {
    text-align: center; }
  .footer-page {
    padding: 0; }
  .aside-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .aside-section--blog {
    width: calc( 50% - 10px); }
  .aside-blog div:nth-child(odd) {
    margin-right: 20px; }
  .social__icon {
    font-size: 3rem;
    padding-right: 25px;
    margin-bottom: 20px; }
  .social a:last-child i {
    padding-right: 0; } }

@media (max-width: 850px) {
  .main-heading {
    font-size: 80px;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 9.2rem;
    color: #f6f6f6; }
    .main-heading__curved-text {
      bottom: 5px; }
    .main-heading--page {
      font-size: 60px;
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      color: #1f1f1f;
      text-transform: uppercase;
      line-height: 4.6rem;
      color: #f6f6f6;
      margin: 0;
      padding: 0;
      text-align: center; }
  .header-container--page {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .featured-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .featured-blog__collage, .featured-blog .blog-container {
      width: 100%; }
  .featured-blogs div:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .blog-container {
    margin-top: 60px; }
  .blog-container--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .summary--featured-blogs-right {
    text-align: left; }
  .wrapper-journey {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .collage--journey {
    width: 100%; }
  .summary--journey {
    width: 100%;
    margin-top: 60px;
    padding-left: 0; }
  .gallery__gallery-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gallery__gallery-row__item {
      width: 100%;
      padding-right: 0;
      padding-bottom: 40px; }
    .gallery__gallery-row div:last-child {
      padding-bottom: 0; }
    .gallery__gallery-row__image {
      width: 100%; }
  .page-summary {
    width: 100%; } }

@media (max-width: 720px) {
  body {
    overflow-x: hidden; }
  .collage--header {
    display: none; }
  .main-heading {
    margin-left: 70px; }
    .main-heading--page {
      margin-left: 0; }
  .nav {
    position: absolute;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../assets/home-image-1.jpg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/home-image-1.jpg);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/home-image-1.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1000;
    top: 0;
    right: -50%;
    width: 50%;
    -webkit-transition: right 1s ease;
    -o-transition: right 1s ease;
    transition: right 1s ease; }
    .nav__list {
      margin: 0;
      padding: 20px 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav__list li:nth-child(2)::after {
        content: "";
        padding: 0; }
  .hidden {
    display: inline-block; }
  input#toggle:checked + .nav {
    right: 0; }
  .about {
    padding: 50px 0; } }

@media (max-width: 700px) {
  .aside-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .aside-section--blog {
    width: 100%; }
  .aside-blog div:nth-child(odd) {
    margin-right: 0; } }

@media (max-width: 600px) {
  .featured-image {
    display: none; } }

@media (max-width: 500px) {
  .nav {
    width: 100%;
    right: -100%; } }

@media (max-width: 450px) {
  body {
    font-size: 15px;
    font-size: 1.5rem;
    color: #1f1f1f;
    font-family: "Montserrat", sans-serif;
    line-height: 2.8rem; }
  .summary__heading {
    font-size: 32px;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f; }
    .summary__heading--featured-blogs-left {
      font-size: 26px;
      font-size: 2.6rem;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      color: #1f1f1f; }
    .summary__heading--featured-blogs-right {
      font-size: 26px;
      font-size: 2.6rem;
      text-transform: uppercase;
      font-family: "Abril Fatface", cursive;
      color: #1f1f1f; }
  .page-summary__heading {
    font-size: 26px;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f; }
  .summary__link {
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f; }
  .main-heading {
    font-size: 60px;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 6rem;
    color: #f6f6f6;
    margin-left: 55px;
    padding-left: -10px; }
    .main-heading__curved-text {
      bottom: 0;
      left: -15px; }
    .main-heading--page {
      margin-left: 0; }
  .featured-blogs {
    padding: 0; }
  .featured-blog__summary {
    padding: 0 20px; }
  .wrapper {
    width: 90%; }
  .page-summary__icon {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 7px; }
  .page-summary__text {
    padding-left: 20px; }
  .page-summary__heading {
    margin-top: 7px; } }

@media (max-width: 420px) {
  .comments__comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .comments__text {
    padding-left: 0; } }

@media (max-width: 330px) {
  .main-heading {
    font-size: 50px;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Abril Fatface", cursive;
    color: #1f1f1f;
    text-transform: uppercase;
    line-height: 6rem;
    color: #f6f6f6;
    padding-left: -10px; }
    .main-heading__curved-text {
      width: 20%;
      bottom: 10px; }
  .hidden {
    font-size: 3rem; } }
